body {
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    background-color: #ffffff;
}

.container {
    width: 150px;
    position: absolute;
    left: 10px;
    top: 15%;
}

.selector {
    position: absolute;
    left: 10px;
    top: 10px;
}

.selectPl {
    outline: none;
    padding: 5px 10px;
    border: none;
    background-color: #ffffff;
    margin: 15px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.selectPl:hover {
    background-color: #D0d0d0;
}
